
.form {
  background-color: #eee;
  border-radius: 4px;
  padding: 20px;

}

.nameWrapper {
  input {
    max-width: 300px;
  }
}
.emailWrapper {
  input {
    max-width: 300px;
  }
}

.saveButton {
  margin-right: 20px;
}