

@import '../../styles/common.scss';

.success {
  background-color: #157a27;
  border-radius: 4px;
  color: #fff;
  padding: 20px;
  margin: 20px 0;
}

.successDetails {
  margin: 20px 0;
}

.button {
  color: #444;
  margin-top: 40px;
}